.download {
  width: 150px;
  border: 1px solid var(--blue);
  border-radius: 10px;
  height: 50px;
  line-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in;
  cursor: pointer;
  color: var(--black);
}
.download:hover {
  background: var(--blue);
  color: white !important;
}
