.skills-container {
  transition: all 0.5s ease-in-out;
  height: 0;
}
.skills-container.drop {
  transition: all 0.5s ease-in;
  margin-top: auto;
  height: 100%;
}
.features-page-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  font-weight: 900;
  font-size: 96px;
}
