.app-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 99999;
}

.app-link {
  transition: all 0.25s;
  font-weight: 600;
  border-bottom: 1px solid var(--no-color);
  padding: 10px;
  width: 20px;
  border-radius: 10px;
  color: var(--black) !important;
}
.app-link:hover {
  color: var(--blue) !important;
}

.app-link.active {
  transition: all 0.25s;
  color: var(--blue) !important;
  font-size: 20px;
  background: var(--blue);
  color: var(--white) !important;
}

.lang-icon {
  object-fit: contain;
  width: 15px;
  margin-right: 5px;
  user-select: none;
}

.dropdown-item:hover > *,
.dropdown-item:hover {
  cursor: pointer;
}

.btn-secondary {
  border-radius: 10px;
}
.dropdown-menu {
  border-radius: 10px;
  margin-top: 5px;
  min-width: 0rem;
}
