.ant-input,
.ant-input-number {
  border-radius: 8px !important;
}
.ant-input:focus,
.ant-input-focused {
  border-color: var(--blue) !important;
  box-shadow: 0 0 0 2px rgb(36, 210, 245 / 20%) !important;
}
.ant-input:hover {
  border-color: var(--blue) !important;
}

.ant-btn,
.ant-btn-primary {
  border-radius: 8px !important;
}

.ant-btn.ant-btn-primary {
  color: var(--black) !important;
  border-color: var(--blue) !important;
  background: var(--blue) !important;
  text-shadow: none !important;
}
.ant-btn.ant-btn-primary:hover,
.ant-btn.ant-btn-primary:focus {
  color: var(--black) !important;
  border-color: var(--light-blue) !important;
  background: var(--light-blue) !important;
  text-shadow: none !important;
}
.ant-btn {
  border-color: var(--black) !important;
}
.ant-btn:hover,
.ant-btn:focus {
  color: var(--blue) !important;
  border-color: var(--blue) !important;
  background: #fff;
}
